<ion-view view-title="Chats">
    <ion-content>
        <div class="list">
            <a class="item item-avatar" ng-repeat="chat in chats">
                <img>
                <h2>{{chat.user}}</h2>
                <p>{{chat.message}}</p>
            </a>
        </div>
        <form>
            <div class="list">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper" style="background-color: #fff">
                        <input type="text" placeholder="Message" ng-model="chat.message" style="background-color: #fff">
                    </label>
                    <button class="button button-positive ion ion-ios7-chatbubble" ng-click="sendChat(chat)"></button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
